<div class="navbar-nav center-nav">
    <a href="/" class="nav-item nav-link" style="margin-left: 1rem; margin-right:1rem ;">Home</a> 
    <% for(let i=0;i<tags.length;i++){%> 
        <a href="/posts/<%=tags.links[i]%>" class="nav-item nav-link" style="margin-left: 1rem; margin-right:1rem ;"><%=tags.name[i]%></a> 
    <%}%>
</div>